@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .main {
    @apply lg:ml-80 
  }

  .full-body {
    @apply lg:ml-80 h-screen w-screen lg:w-[calc(100vw-20rem)] bg-cover;
  }

  .swv-dropdown {
    @apply w-full;
  }

  .swv-button {
    @apply rounded-full w-full text-black;
  }

  .swv-button-trigger {
    @apply bg-pink-500 justify-center !important;
  }

  .swv-dropdown-list {
    @apply top-auto bottom-full md:top-full md:bottom-auto md:left-0 md:right-auto;
  }

  .swv-dropdown-list-active {
    @apply transform -translate-y-3 md:translate-y-3;
  }

  body {
    @apply overflow-x-hidden;
  }
}

@layer utilities {
  .bg-gradient {
    @apply bg-gradient-to-br from-light-background-400 to-light-background-800 dark:from-[#DD0E23] dark:to-[#270318];
  }
  .none {
    display: none;
  }
}

@layer components {
  .full-screen-input {
    width: calc(100vw - 20%);
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: black white;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
}

.blur-background img {
  @apply relative;
}
.blur-background img::after {
  content: "";
  background-image: inherit;
  background-size: inherit;
  background-repeat: inherit;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  bottom: -25px;
  z-index: -1;
  filter: blur(20px);
}

.image-container {
  @apply w-full;
}
.image-container > span {
  position: unset !important;
}
.image-container img {
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

/* Twitter styling */
.twitter-tweet.twitter-tweet-rendered {
  @apply rounded-lg overflow-hidden;
}

.twitter-tweet.twitter-tweet-rendered::-webkit-scrollbar-track{
  display: none;
}

.react-datepicker__input-container input {
  margin: 10px auto;
  background: transparent;
}

.global-state table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 350px;
}
.global-state table tr th,
.global-state table tr td {
  border-right: 2px solid #FFE9E9;
  padding: 5px;
}
.global-state table tr th:first-child,
.global-state table tr td:first-child {
  border-left: 2px solid #FFE9E9;
}
.global-state table tr th {
  border-top: 2px solid #FFE9E9;
  text-align: center;
}
.global-state table tr td {
  text-align: center;
}
.global-state table tr:last-child td {
  border-bottom: 2px solid #FFE9E9;
}
/* top-left border-radius */
.global-state table tr:first-child th:first-child {
  border-top-left-radius: 20px;
}

/* top-right border-radius */
.global-state table tr:first-child th:last-child {
  border-top-right-radius: 20px;
}

/* bottom-left border-radius */
.global-state table tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}

/* bottom-right border-radius */
.global-state table tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}